Human in Loop Tutorial.json
{
  "name": "Human in Loop Tutorial",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "authentication": "airtableTokenApi",
        "baseId": {
          "__rl": true,
          "value": "appW9qjLUf1MWhWFc",
          "mode": "id"
        },
        "tableId": {
          "__rl": true,
          "mode": "id",
          "value": "tblb3ml7rcbT61fr8"
        },
        "triggerField": "created",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.airtableTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "79df4ba1-3501-40ef-8d53-442c8a3c19fc",
      "name": "Airtable Trigger",
      "credentials": {
        "airtableTokenApi": {
          "id": "zqxFezLTR2csKOHC",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appW9qjLUf1MWhWFc",
          "mode": "list",
          "cachedResultName": "Human in the Lopp",
          "cachedResultUrl": "https://airtable.com/appW9qjLUf1MWhWFc"
        },
        "table": {
          "__rl": true,
          "value": "tblNRMJvamSshcRZU",
          "mode": "list",
          "cachedResultName": "Projects",
          "cachedResultUrl": "https://airtable.com/appW9qjLUf1MWhWFc/tblNRMJvamSshcRZU"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtableTool",
      "typeVersion": 2.2,
      "position": [
        336,
        208
      ],
      "id": "e4dc9c3f-7182-4cb2-8cc4-13a4d5325902",
      "name": "Project Database",
      "credentials": {
        "airtableTokenApi": {
          "id": "zqxFezLTR2csKOHC",
          "name": "Airtable account"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "claude-sonnet-4-5-20250929",
          "cachedResultName": "Claude Sonnet 4.5"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatAnthropic",
      "typeVersion": 1.3,
      "position": [
        832,
        576
      ],
      "id": "02b0d345-f020-4e6d-b73c-17cd36f0ac85",
      "name": "Anthropic Chat Model",
      "credentials": {
        "anthropicApi": {
          "id": "iVDU4hkMYiX3TA96",
          "name": "Anthropic account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "38bff963-789e-4ec7-ab01-b50fc61d3cea",
              "name": "email",
              "value": "={{ $json.output.email }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        560,
        0
      ],
      "id": "3a96fd33-49f6-489e-b415-dbef2b4543ff",
      "name": "Set Email"
    },
    {
      "parameters": {
        "schemaType": "manual",
        "inputSchema": "{\n  \"type\": \"object\",\n  \"properties\": {\n    \"subject\": {\n      \"type\": \"string\",\n      \"description\": \"The subject line of the email\"\n    },\n    \"email\": {\n      \"type\": \"string\",\n      \"description\": \"The body content of the email\"\n    }\n  },\n  \"required\": [\"subject\", \"email\"]\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        832,
        352
      ],
      "id": "737d7130-aeb6-49cc-9dac-6c6018af4dbf",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "operation": "sendAndWait",
        "sendTo": "collinchimene11@gmail.com",
        "subject": "=APPROVAL REQUIRED for new Lead : {{ $('Airtable Trigger').item.json.fields.Name }}",
        "message": "={{ $('Airtable Trigger').item.json.fields.Name }} from {{ $('Airtable Trigger').item.json.fields.companyName }} is looking for {{ $('Airtable Trigger').item.json.fields.intent }}. Their budget is {{ $('Airtable Trigger').item.json.fields.budget }} with a {{ $('Airtable Trigger').item.json.fields.timeline }}.\n\nPlease aprove or decline the sending of this message generated by Carl, our AI Sales Agent.\n\nSubject : {{ $('Sales Agent').item.json.output.subject }}\n\nEmail : {{ $json.email }}",
        "responseType": "freeText",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        768,
        0
      ],
      "id": "79a8c520-8ba0-416d-aeb1-6c7f4720563f",
      "name": "Get Feedback",
      "webhookId": "b5e45178-ad09-4a97-b92b-206637d935f3",
      "credentials": {
        "gmailOAuth2": {
          "id": "Luvaz0gehon1NJnJ",
          "name": "Gmail account 2"
        }
      }
    },
    {
      "parameters": {
        "inputText": "={{ $json.data.text }}",
        "categories": {
          "categories": [
            {
              "category": "Approval",
              "description": "The email has beca reviewed and accepted as-is. The human explicitly or implicitly expresses approval, indicating that no changes are needed. \n\nExample phrases include: \n\"Looks good.\"\n\"Go ahead and send it.\"\n\"This works for me.\"\n\"Approved.\"\n\"No changes needed.\""
            },
            {
              "category": "Declined",
              "description": "The email has been reviewed but the human requests modifications before it is send like tweaks, removing some parts, rewording, etc.\n\nThis could include suggested edits, rewording and major revisions.\n\nExample phases include:\n\n\"Can we tweak this part\"\n\"Please make it shorter\"\n\"Need some changes\"\n\"I'd like to reward this\"\n\"Lets revise it\"\n\"Don't mention that:...\""
            }
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textClassifier",
      "typeVersion": 1.1,
      "position": [
        976,
        0
      ],
      "id": "63e7dc70-96d5-4742-973f-7e31c94b3fb6",
      "name": "Text Classifier"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1088,
        144
      ],
      "id": "5b4d7613-8c9c-4a69-94fe-a68a9e663d1d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "oP11bH4oUKnJP60i",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=\nEmail: {{ $('Set Email').item.json.email }}\n\nFeedback: {{ $('Get Feedback').item.json.data.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=#Role\n\nYou are an expert email writer. Your job is to take an incoming email and revise it based on the feedback the human is submitted.\n\n#Rules\nSign off email as Collin, Vhuma AI\n\nHere is the current date/time : {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1456,
        96
      ],
      "id": "0084fb91-b282-4e91-bcbc-399f603b4b21",
      "name": "Revision Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Incoming Lead\n\nName : {{ $json.fields.Name }}\n\nEmail : {{ $json.fields.Email }}\n\nCompany name : {{ $json.fields.companyName }}\n\nIntent : {{ $json.fields.intent }}\n\nBudget : {{ $json.fields.budget }}\n\nProject Description : {{ $json.fields.projectDescription }}\n\nTimeline : {{ $json.fields.timeline }}\n\nCreated : {{ $json.fields.created }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=Overview\nYou are an expert salesperson for an agency that delivers AI solutions. Your job is to respond to incoming leads by addressing their needs in a professional manner. You will receive information like the lead's project description and timeline, and your goal is to convince them that we are the best AI Agency on the market.\n\nTools\nProject Database – Use this tool to search through previous projects we have completed.\n\nRules\nYou will receive information about a lead, and you need to craft a concise, professional email.\n\nYour main objective is to convince the lead to book a second call. Make them believe that we can deliver their project and exceed expectations.\n\nRetrieve information about relevant past projects to include as proof of capability. Mention the client outcome or result we helped them achieve.\n\nInclude a link to book a call using this link: https://cal.com/damianaiagent\n\nEmail Signature\nSign off emails as:\nCollin, CEO at Vhuma AI\n\nHere is the current date/time: {{ $now }}"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        208,
        0
      ],
      "id": "583a96bf-073c-48eb-94d6-94962f2c939c",
      "name": "Sales Agent"
    },
    {
      "parameters": {
        "sendTo": "={{ $('Airtable Trigger').item.json.fields.Email }}",
        "subject": "={{ $('Sales Agent').item.json.output.subject }}",
        "emailType": "text",
        "message": "={{ $('Set Email').item.json.email }}",
        "options": {
          "appendAttribution": false
        }
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1328,
        -96
      ],
      "id": "a7fcb30e-0b9e-4d4e-8958-d12bdeff4a1b",
      "name": "Send a message",
      "webhookId": "061a631c-c112-4ac5-b45c-5eaa9f439cd0",
      "credentials": {
        "gmailOAuth2": {
          "id": "Luvaz0gehon1NJnJ",
          "name": "Gmail account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Airtable Trigger": {
      "main": [
        [
          {
            "node": "Sales Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Project Database": {
      "ai_tool": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Anthropic Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Revision Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Sales Agent",
            "type": "ai_outputParser",
            "index": 0
          },
          {
            "node": "Revision Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "Set Email": {
      "main": [
        [
          {
            "node": "Get Feedback",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Feedback": {
      "main": [
        [
          {
            "node": "Text Classifier",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Text Classifier",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Text Classifier": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Revision Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Sales Agent": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Revision Agent": {
      "main": [
        [
          {
            "node": "Set Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "10a91fbf-f8a4-47b0-ac07-a006c245e53e",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22c3607cee35c6f35f541d681b889407aa40f3a1791e0b9fac86715a30318878"
  },
  "id": "iM4GGBGnCRR6aUjb",
  "tags": []
}