The Best LinkedIn Automation.json
{
  "name": "The Best LinkedIn Automation",
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -80,
        0
      ],
      "id": "84d5bf2d-ccce-4521-bab6-48ec3dbd096e",
      "name": "When chat message received",
      "webhookId": "fdc7c19d-983a-45a0-8513-35188d1b3df0"
    },
    {
      "parameters": {
        "url": "=https://google.com/complete/search?output=toolbar&gl=US&q={{ $json.chatInput }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        80,
        0
      ],
      "id": "158e54b6-0f5a-435f-9aa8-3df8edc432f8",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "content": "## The Best Linkedin Posting Machine\n### ✨ What It Does – Step by Step\n#### 1. Keyword Input via Chat\nWe begin by providing a keyword in the chat interface (e.g. \"AI Agent\" ).\n#### 2. Keyword Research\nAn HTTP request is triggered to search for the most popular search queries related to that keyword.\n→ We extract around 10 high-performing related keywords.\n#### 3. Loop Setup\nThe list of 10 keywords is stored in a variable and passed into a loop for content generation.\n#### 4. Content Generation Loop\nFor each keyword (total of 10 runs):\n📄 A LinkedIn post description is generated\n🧠 A title for the post is created\n🎨 A tailored image prompt is written\n📊 All this data is saved into Google Sheets for review and reuse\n→ This allows us to later pick the best option or reuse unused content for future posts.\n#### 5. Smart Content Selection\nOnce the loop ends, we activate an AI agent that:\nSearches the web for current trends\nChooses the best keyword and content combination\nUses a Think node to review and validate the content\n#### 6. Image Generation\nWe generate a visual based on the selected prompt.\n#### 7 . Quality Check (IF Node)\nBefore publishing:\nWe check if the image is high-resolution\nWe verify that the text isn’t truncated\n#### 8. Automatic LinkedIn Publishing\n✅ If everything passes the quality check, the post is automatically published on LinkedIn — complete with image, title, and\ndescription.",
        "height": 912,
        "width": 416,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -688,
        -240
      ],
      "id": "8e39e9b4-1717-453d-9a69-aab20bf39a81",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.xml",
      "typeVersion": 1,
      "position": [
        208,
        0
      ],
      "id": "6d4f3815-ab52-4696-be72-f7f2bb75ca11",
      "name": "XML"
    },
    {
      "parameters": {
        "fieldToSplitOut": "toplevel.CompleteSuggestion",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        352,
        0
      ],
      "id": "265c2cf6-1e6a-42f9-bea5-726d4d3d1611",
      "name": "Split Out"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "68a87a93-5d0d-4f97-92d4-73734300266d",
              "name": "Keywords",
              "value": "={{ $json.suggestion.data }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        512,
        0
      ],
      "id": "65800bf5-9f03-4ff2-b91a-c55452ae1d30",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        816,
        0
      ],
      "id": "6ce81348-0353-47e8-a00b-3350498aee41",
      "name": "Loop Over Items",
      "executeOnce": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Post Keyword:{{ $json.Keywords }}",
        "options": {
          "systemMessage": "=** Purpose **\nCreate high-impact LinkedIn posts that are professional, insightful, and designed to grow our LinkedIn presence.\n\nEach post is built around a specific keyword provided by the user.\n\n** How It Works **\n\nWhen you receive a keyword, follow this process:\n\n1. Research & Contextualize\n- Treat the keyword as the core focus of the post.\n- Build around it using relevant facts, statistics, case studies, or market trends.\n- Make sure the post delivers clear value to a professional audience.\n\n2. Write the Post\n- Begin with a strong hook to grab attention immediately.\n- Maintain a confident, professional tone throughout.\n- Use short paragraphs and logical flow to ensure readability.\n- Deliver educational or actionable insights — teach, inspire, or provoke thought.\n- Use emojis only if they enhance clarity or tone (keep them minimal and relevant).\n- Credit sources properly (e.g., “according to McKinsey…\n”).\n- End with a compelling call to action (e.g., invite opinions, shares, or discussion).\n- Add a few smart, keyword-specific hashtags to improve reach and visibility.\n\n** Output Rules **\n\n- Only output the final LinkedIn post.\n- Do not explain the post or describe the steps taken.\n- Avoid quotation marks unless part of a cited statement.\n- Keep formatting natural and LinkedIn-appropriate (no markdown or styling notes).\n- Don't provide line breaks or new lines, just give plain text, don't use /n\n\n** Sample Use Case **\n\nKeyword: warehouse automation ROI\n- You create a polished LinkedIn post with a sharp hook, real data or success stories, and a CTA — all centered on the keyword."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1072,
        16
      ],
      "id": "3177cb0a-d581-4a48-b32d-d5b66c3f402c",
      "name": "Create a LinkedIn Post Description AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1392,
        224
      ],
      "id": "e8aafd12-987d-4fe1-bf6f-5a0c55d773da",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "BIHhzfStt51fvxGk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Description: {{ $json.output }}",
        "options": {
          "systemMessage": "=** Overview **\nYour job is to create a clear & highly engaging title for the linkdein post based on it's description.\n- Don't use word \"title\" at the beginning, just provide plain title\n- Add one emoji at the end of the title"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1392,
        16
      ],
      "id": "da88e88d-d3c2-4428-86b0-267297dcff07",
      "name": "Generate Title AI Agent"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=LinkedIn Post: {{ $json.output }}",
        "options": {
          "systemMessage": "=** Purpose **\n\n- You are an AI agent designed to convert LinkedIn posts into visual prompt descriptions.\nThese prompts guide the creation of compelling marketing graphics that visually\nenhance the written message and align with professional branding standards.\n\n** Goals **\n\n- Analyze the content of the LinkedIn post\n- Identify the core message, insight, or idea\n- Craft a visual prompt that represents the message in a striking and brand-consistent way\n- Ensure the prompt is ideal for generating a professional marketing-style graphic, not a literal or hyperrealistic image\n\n** Visual Criteria **\n\nYour graphic prompt must:\n- Visually support or represent the key idea from the post\n- Be suitable for a modern LinkedIn post (clean, professional, polished)\n- Reflect a current design aesthetic (flat, minimalist, creative, sharp)\n\n** Output Requirements **\n\n- Output only the final image prompt — no explanation, rephrasing of the post, or surrounding text\n- Never include placeholders like \"Header goes here\"\n- Include numeric stats or figures if present in the original post\n- Do not include quotation marks around the prompt\n- Output should be ready to use in a text-to-image tool\n** Design Style & Elements **\nThink like a professional brand designer or marketing creative. Your visual prompts may include:\n- Flat illustrations\n- Bold or minimal typography elements (described in the prompt)\n- Infographic components (charts, graphs, percentages)\n- Modern abstract shapes or gradients\n- Metaphors (e.g., lightbulb for ideas, mountain for growth)\n- Layout suggestions (e.g., “split-screen layout,” “centered title with subtle overlay”)\n\nOptional: soft shadows, motion-like lines, UI-style elements\n\n** Prompt Format Example **\n\nModern flat-design illustration of a glowing lightbulb emerging from a maze, symbolizing innovation through complexity.\nClean background with soft gradient, top-right space for headline text, subtle data overlay on the left side."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1712,
        16
      ],
      "id": "27d28a9e-c3b8-412d-ba53-59a8e1865844",
      "name": "Generate Image Prompt AI Agent"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs",
          "mode": "list",
          "cachedResultName": "One-Click LinkedIn Post Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Keywords": "={{ $('Edit Fields').item.json.Keywords }}",
            "Post Title": "={{ $('Generate Title AI Agent').item.json.output }}",
            "Post Description": "={{ $('Create a LinkedIn Post Description AI Agent').item.json.output }}",
            "Post Image Prompt": "={{ $json.output }}",
            "Status": "not published"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Description",
              "displayName": "Post Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Image Prompt",
              "displayName": "Post Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2128,
        160
      ],
      "id": "3c3d691f-7bda-45f9-854e-d0bdb39c3656",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkZ8phs3ZxI244XN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "aggregate": "aggregateAllItemData",
        "destinationFieldName": "={{ $('Split Out').item.json.suggestion }}",
        "options": {}
      },
      "type": "n8n-nodes-base.aggregate",
      "typeVersion": 1,
      "position": [
        1040,
        -480
      ],
      "id": "fd0b9355-ee7f-4353-8bcf-56b8fee2a374",
      "name": "Aggregate"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "2d63a596-e5c4-4d11-bcab-7575e005fe35",
              "name": "Content",
              "value": "={{ $json['[object Object]'] }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        -480
      ],
      "id": "13a922f5-b7ca-48da-af89-80f23bd7fc17",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "description": "=You are a filtering and reasoning assistant.\nReview the information gathered below. Your job is to:\n1. Make sure AI Agent used web search to decide which keyword and content is the most proper to pick\n2. Make sure the output format is only 1 choosen keyword"
      },
      "type": "@n8n/n8n-nodes-langchain.toolThink",
      "typeVersion": 1.1,
      "position": [
        1488,
        -304
      ],
      "id": "77e9fc6d-0d96-4fef-8ce5-f7376e5265f5",
      "name": "Think"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "value": "gpt-4.1-mini",
          "mode": "list",
          "cachedResultName": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1376,
        -320
      ],
      "id": "442a4e18-c2b5-4021-833e-838230be5908",
      "name": "OpenAI Chat Model1",
      "credentials": {
        "openAiApi": {
          "id": "BIHhzfStt51fvxGk",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsonSchemaExample": "{\n    \"keyword\":\"\"\n}"
      },
      "type": "@n8n/n8n-nodes-langchain.outputParserStructured",
      "typeVersion": 1.3,
      "position": [
        1712,
        -320
      ],
      "id": "87952cfe-2fb2-4a0b-bfb6-0464008f03a2",
      "name": "Structured Output Parser"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=Content: {{ $json.Content }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "=** PURPOSE **\nFrom a list of generated LinkedIn post data (each including a keyword, post description,\ntitle, and image prompt), select the single most promising topic using real-time web insights.\nReturn only the content associated with that one best-performing keyword.\n** HOW IT WORKS **\nWhen you receive a long block of input containing multiple LinkedIn post entries\n(each with a keyword, post description, title, and image prompt), follow this process:\n1. Identify All Keywords\n- Extract all keywords from the provided content.\n- Each keyword represents a separate post entry.\n2. Evaluate Keywords Using Web Search\nFor each keyword, perform a real-time search using the Tavily tool.\nEvaluate the keyword's:\n- Current relevance\n- Trend potential\n- Virality and engagement potential in a business/professional context\nGive priority to:\n- Topics gaining traction in the news or social platforms\n- Use cases with real stats, success stories, or market relevance\n- Keywords that align with LinkedIn’s professional audience\n3. Select the Best Topic\n- From all entries, select only one keyword that is the most likely to perform well on LinkedIn right now.\n- Do not generate new content — use the existing title, post description, and image prompt linked to that keyword.\n** DO NOT **\nReturn multiple results\nExplain your choice\nAdd formatting or markdown\nInclude extra commentary\n** EXAMPLE USE CASE **\n- You receive a block of text with 10 post entries, each including:\nKeyword: AI in healthcare, Remote leadership, Green supply chains, etc.\nCorresponding title, post, and image prompt for each.\n- You:\n- Perform a web search for each keyword\n- Decide that \"AI in healthcare\" has the highest viral potential today\n- Return:\nKeyword: \"AI in healthcare\"\n**J SON Output Format **\nOnly return the following JSON structure (no extra text):\n{\n\"keyword\": \"\"\n}\n** Formatting Rules **\nTo make sure the output works inside JSON, follow these simple rules:\n- don't use emoijs in the text\n- only provide text that is in proper JSON format\n- don't provide \"\" marks inside description"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1488,
        -480
      ],
      "id": "0dc6d6f7-c7e7-41bc-8d33-e6896f3f2aa8",
      "name": "Choose One Keyword AI Agent"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.tavily.com/search",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n\"query\": \"{searchTerm}\",\n\"topic\": \"general\",\n\"search_depth\": \"advanced\",\n\"chunks_per_source\": 3,\n\"max_results\": 1,\n\"time_range\": null,\n\"days\": 7,\n\"include_answer\": true,\n\"include_raw_content\": false,\n\"include_images\": false,\n\"include_image_descriptions\": false,\n\"include_domains\": [],\n\"exclude_domains\": []\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.4,
      "position": [
        1600,
        -304
      ],
      "id": "fd1cb349-e89c-4186-86d5-54732eb79f61",
      "name": "HTTP Request1",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6hl2bxCYeoeBey3",
          "name": "Tavely Web Search"
        }
      }
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs",
          "mode": "list",
          "cachedResultName": "One-Click LinkedIn Post Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit#gid=0"
        },
        "filtersUI": {
          "values": [
            {
              "lookupColumn": "Keywords",
              "lookupValue": "={{ $json.output.keyword }}"
            }
          ]
        },
        "options": {
          "returnFirstMatch": true
        }
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1840,
        -480
      ],
      "id": "86e97ded-ab9b-4a4f-86ba-17068dd954f4",
      "name": "Get row(s) in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkZ8phs3ZxI244XN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Content Selection",
        "height": 480,
        "width": 1296,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -608
      ],
      "id": "0d286b2f-2e3a-4568-8b52-fee9ab31aa86",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Content Creator",
        "height": 560,
        "width": 1536,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        752,
        -112
      ],
      "id": "d748b43a-1316-4efb-9906-ffa4f2219312",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## Image Generation",
        "height": 480,
        "width": 1056,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        2080,
        -608
      ],
      "id": "9a36ac1f-a678-4970-a4bc-9a96c59d7e13",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.openai.com/v1/images/generations",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "openAiApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "gpt-image-1"
            },
            {
              "name": "prompt",
              "value": "={{ $('Generate Image Prompt AI Agent').item.json.output }}"
            },
            {
              "name": "size",
              "value": "1024x1536"
            },
            {
              "name": "quality",
              "value": "low"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2128,
        -416
      ],
      "id": "c89ed583-e0fc-4e42-9714-d22948e73b1a",
      "name": "Generate Image",
      "credentials": {
        "httpHeaderAuth": {
          "id": "Y6hl2bxCYeoeBey3",
          "name": "Tavely Web Search"
        },
        "openAiApi": {
          "id": "LJXEeXT1OMdh5evu",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.cloudinary.com/v1_1/dokvttqtt/image/upload",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "parameterType": "formBinaryData",
              "name": "file",
              "inputDataFieldName": "data"
            },
            {
              "name": "upload_preset",
              "value": "n8n_linkedin"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        2576,
        -416
      ],
      "id": "136430db-f161-49ff-acfb-c1a97b4e5381",
      "name": "Get Image URL"
    },
    {
      "parameters": {
        "operation": "toBinary",
        "sourceProperty": "data[0].b64_json",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        2352,
        -416
      ],
      "id": "3b3f8170-d4a4-4f11-b068-51955cf487ba",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o-mini",
          "mode": "list",
          "cachedResultName": "GPT-4O-MINI"
        },
        "text": "=s the image provided high-quality, without any truncated text?\n\nRespond \"yes\" or \"no\".\n\n- Don't provide dot at the end of \"yes\" or \"no\" response",
        "imageUrls": "={{ $json.url }}",
        "simplify": false,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        2784,
        -416
      ],
      "id": "81f47c10-c3bd-4906-bda0-965d405332c6",
      "name": "Analyze image",
      "credentials": {
        "openAiApi": {
          "id": "LJXEeXT1OMdh5evu",
          "name": "OpenAI account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f107eef4-5842-429d-a458-a057964b59c0",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "yes",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            },
            {
              "id": "dbbcfbb5-202e-478d-9c92-5ba4df49457f",
              "leftValue": "={{ $json.output[0].content[0].text }}",
              "rightValue": "Yes",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2992,
        -416
      ],
      "id": "c7dd45a4-6fb7-4f52-8eff-c8fae3f3939d",
      "name": "If"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "b3e6fb4d-0175-45ce-aa48-97f2cdcaae39",
              "name": "Content",
              "value": "={{ $('Generate Title AI Agent').item.json.output }}. {{ $('Create a LinkedIn Post Description AI Agent').item.json.output }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        3312,
        -432
      ],
      "id": "f9ecf7ac-f841-4c26-a94a-2b2283024d37",
      "name": "Edit Fields2"
    },
    {
      "parameters": {
        "url": "https://backend.blotato.com/v2/posts",
        "authentication": "genericCredentialType",
        "genericAuthType": "httpHeaderAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n\"post\": {\n\"target\": {\n\"targetType\": \"linkedin\"\n},\n\"content\": {\n\"text\": \"{{ $json.Content }}\",\n\"platform\": \"linkedin\",\n\"mediaUrls\": [\"{{ $('Get Image URL').first().json.url }}\"]\n},\n\"accountId\": \"18963\"\n}\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        3680,
        -432
      ],
      "id": "efa4aa4e-09b3-4cc8-bb33-7e3d847e1da8",
      "name": "Upload to LinkedIn",
      "credentials": {
        "httpHeaderAuth": {
          "id": "UPS1E2raNuBr7tks",
          "name": "Blotato"
        }
      }
    },
    {
      "parameters": {
        "content": "## Publish on LinkedIn",
        "height": 480,
        "width": 752,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3168,
        -608
      ],
      "id": "14f03310-ea68-43c1-8eae-e6efeeefe30a",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "## Save the Data",
        "height": 480,
        "width": 752,
        "color": "#004D65"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        3952,
        -608
      ],
      "id": "d09903be-c99f-4cdc-a110-cbc5f114a71f",
      "name": "Sticky Note5"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs",
          "mode": "list",
          "cachedResultName": "One-Click LinkedIn Post Generator",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B5yG2pw8pmdxik9vyrt03T7cW9NVD_4nNkPWpoHxDxs/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Status": "published",
            "Image URL": "={{ $('Get Image URL').item.json.url }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Keywords",
              "displayName": "Keywords",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Title",
              "displayName": "Post Title",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Description",
              "displayName": "Post Description",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Post Image Prompt",
              "displayName": "Post Image Prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Image URL",
              "displayName": "Image URL",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Status",
              "displayName": "Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        4304,
        -432
      ],
      "id": "16e417c9-eca2-48d6-b8e9-165937f10a85",
      "name": "Append row in sheet1",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "BkZ8phs3ZxI244XN",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "content": "## Inputs",
        "height": 480,
        "width": 880,
        "color": "#666100"
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -176,
        -176
      ],
      "id": "86e474df-553e-4e93-9941-dfc3fde4f945",
      "name": "Sticky Note6"
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "XML",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "XML": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [
          {
            "node": "Aggregate",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create a LinkedIn Post Description AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create a LinkedIn Post Description AI Agent": {
      "main": [
        [
          {
            "node": "Generate Title AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Create a LinkedIn Post Description AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Title AI Agent",
            "type": "ai_languageModel",
            "index": 0
          },
          {
            "node": "Generate Image Prompt AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Generate Title AI Agent": {
      "main": [
        [
          {
            "node": "Generate Image Prompt AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image Prompt AI Agent": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Append row in sheet": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Aggregate": {
      "main": [
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Choose One Keyword AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Think": {
      "ai_tool": [
        [
          {
            "node": "Choose One Keyword AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Choose One Keyword AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Structured Output Parser": {
      "ai_outputParser": [
        [
          {
            "node": "Choose One Keyword AI Agent",
            "type": "ai_outputParser",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "ai_tool": [
        [
          {
            "node": "Choose One Keyword AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Choose One Keyword AI Agent": {
      "main": [
        [
          {
            "node": "Get row(s) in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get row(s) in sheet": {
      "main": [
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate Image": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Get Image URL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Image URL": {
      "main": [
        [
          {
            "node": "Analyze image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze image": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Edit Fields2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Generate Image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields2": {
      "main": [
        [
          {
            "node": "Upload to LinkedIn",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload to LinkedIn": {
      "main": [
        [
          {
            "node": "Append row in sheet1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "f38fcceb-17a3-4b0f-9ba2-01fc4563c456",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "22c3607cee35c6f35f541d681b889407aa40f3a1791e0b9fac86715a30318878"
  },
  "id": "be8afCnt0JBzglDj",
  "tags": []
}